*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img{
  padding: 20px;
  vertical-align: center;
  height: 100px;
}

header strong{
  line-height: center;
  font-size: 2rem;
}

main{
  background-color: #F6F8F9;
  padding-top: 20px;
}

.container{
  background-color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 4px;
}

.add{
  padding: 40px;
  border-bottom: 1px solid #F6F8F9;
}

.add-1{
  display: inline;
  padding: 10px;
  border-radius: 10px;
  background-color: #45ABEA;
  color: white;
}

.add-2{
  display: inline;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  color: grey;
}

.item{
  padding: 40px;
  font-size: 1.2rem;
}

.check{
  display: inline;
  color: green;
  border-radius: 50%;
  border: 1px solid green;
  padding: 4px;
  margin: 5px;
  font-size: .8rem;
}

.cross{
  display: inline;
  color: red;
  border-radius: 50%;
  border: 1px solid red;
  padding: 4px;
  margin: 5px;
  font-size: .8rem;

}

li{
  padding: 5px;
}

ul ul li{
  font-size: .9rem;
}

.tag-1{
  display: inline;
  padding: 10px;
  border-radius: 15px;
  font-size: 0.7rem;
  background-color: #45ABEA;
}

.tag-2{
  display: inline;
  padding: 10px;
  border-radius: 15px;
  font-size: 0.7rem;
  background-color: #9C72E4;
}

.tag-3{
  display: inline;
  padding: 10px;
  border-radius: 15px;
  font-size: 0.7rem;
  background-color: #64C0A9;
}

.tag-4{
  display: inline;
  padding: 8px;
  border-radius: 15px;
  font-size: 0.7rem;
  background-color: #F29E33;
}